{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

   <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12" style="text-align: left; font-size: 10px; color: #818181;">
                <h1 class="page-header">
                
                    <font size="6" color="#8B9F3E">ABOUT US</font>
                    <br>
                    <br>
                    <font size="5" color="#818181"> A spontaneous group of athletes, developers, business men and marketers all looking towards one thing: the future.
                    Reyathena is a group of talented visionaries coming together to fill in the gap between competing athletes and sponsors. Linking the two we believe we can make legends out of passionate athletes. We believe we can broaden sponsors horizons with the opportunity we present them; the opportunity to help make history.
                    

                    <br>
                    <br>
                    Most importantly, we believe in dreams and would want nothing more than to be the reason a dream comes true.  
                </font>
                </h1>
            </div>     
        </div>
     </div>    

{% endblock %} 