{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

   <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->

           

        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row" style="margin-top:200px;">

            <div class="col-md-4 col-sm-4">
                    <a href="/athlete_list/1/"> 
                    <img class="col-lg-12 img-responsive img-portfolio img-hover" src= "{% static 'images/S4.png' %}" alt="">
                </a>
               
            </div>

            <div class="col-md-4 col-sm-4">
                    <a href="/athlete_list/2">
                    <img class="col-lg-12 img-responsive img-portfolio img-hover" src= "{% static 'images/Swim.png' %}" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-4" style="overflow: visible;">
                    <a href="/athlete_list/3">
                    <img class="col-lg-12 img-responsive img-portfolio img-hover" src= "{% static 'images/S2.png' %}" alt="">
                </a>
            </div>
            <br>
        </div>

        <div class="row" style="margin-top:100px;">
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4">
                    <a href="/athlete_list/1/"> 
                    <img class="col-lg-12 img-responsive img-portfolio img-hover" src= "{% static 'images/S6.png' %}" alt="">
                </a>
               
            </div>

            <div class="col-md-4 col-sm-4">
                    <a href="/athlete_list/2">
                    <img class="col-lg-12 img-responsive img-portfolio img-hover" src= "{% static 'images/Football.png' %}" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-4">
                    <a href="/athlete_list/3">
                    <img class="col-lg-12 img-responsive img-portfolio img-hover" src= "{% static 'images/S5.png' %}" alt="">
                </a>
            </div>
            <br>
        </div>
                


        
            

        <!-- /.row -->

        <!-- Features Section -->
        
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Atheletes join Reyathena family!</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Join us!</a>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Register for events</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Register!</a>
                </div>
            </div>
        </div>

        <hr>

    

    
{% endblock %}
